@import "tailwindcss";

/* Body default */
body {
  background-color: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
    color: #ededed;
  }
}

/* React Calendar Overrides */
.react-calendar {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  font-family: inherit;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.react-calendar__tile {
  background-color: #ffe4e6;
  color: #111 !important;
  font-weight: 600;
  border-radius: 0.5rem;
  height: 3rem !important;
  line-height: 3rem !important;
}
